 <!-- About Section -->
 <section class="success" id="about">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2>About</h2>
         <hr class="star-light">
       </div>
     </div>
     <div class="row">
       <div class="col-lg-8 col-lg-offset-2">
         <p>
           I am a software engineer from Singapore. I am currently studying at Singapore Polytechnic, pursuing a Diploma
           in Information & Technology at the School of Computing.

           The languages I work with most often include Kotlin, Java, Python and SQL. I am currently learning about
           Haskell using the Haskell book and it has been amazing so far!

           Currently, I am working on a markdown to PDF converter using Kotlin. It has been
           an exciting experience writing this library and I try to document the trials and tribulations I go through
           whilst writing this library on the blog.

           I am an avid learner and have been actively attempting to study various subjects, such as mathematics.

           If I'm not programming, I'm usually running.
         </p>
       </div>
       <div class="col-lg-8 col-lg-offset-2 text-center">
         <a href="https://github.com/woojiahao" class="btn btn-lg btn-outline">
           GitHub Profile
         </a>
       </div>
     </div>
   </div>
 </section>