 <!-- About Section -->
 <section class="success" id="about">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2>关于</h2>
         <hr class="star-light">
       </div>
     </div>
     <div class="row">
       <div class="col-lg-8 col-lg-offset-2">
         <p>
          我是一名来自中国的软件工程师。我目前就职于华东勘测设计研究院-华东工程数字技术有限公司，主要从事移动端开发工作。

          我经常使用的语言包括Objective-C、Python和Dart。我目前正在了解Java的使用和使用它进行后台的开发、以及利用Flutter
          
          技术进行移动端的开发。

          我热爱运动，特别是舒服的长跑，往往是气温舒适的情况下。参加过四次马拉松，两次半程马拉松，两次全程马拉松，虽然没有取得什么
          
          可人的成绩，但是锻炼身体，挑战自我也很好。

          偶尔我也会玩玩游戏，如炉石传说、王者荣耀和刺激战场，我特别喜欢的游戏是LoyaltyGame出品的系列游戏-《绣湖》，在攻略的带领下，
          
          我通关了所有的故事章节。此外这类的游戏还有《机械迷城》《Gorogoa》等。

          闲暇时候，我喜欢阅读书籍，励志型伟人传记，《周恩来传》、《林徽因传》、《史蒂夫乔布斯传》和《毛泽东传》，其他小说如《红与黑》、
          
          《罗生门》、《沉默的大多数》等等，《沉思录》、《名人传》、《傅雷家书》是我最喜欢的书籍。
          
          如果我不编程，我通常在跑步或思考。
         </p>
       </div>
       <div class="col-lg-8 col-lg-offset-2 text-center">
         <a href="https://github.com/sunchao0427" class="btn btn-lg btn-outline">
           GitHub简介
         </a>
       </div>
     </div>
   </div>
 </section>